.Loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200%;
    animation: moveGradient linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -200% 0
    }
}