@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    color: cyan;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}